@import 'variables';

html {
  background-color: $primary-color;
}

.app {
  display: flex;
  flex-direction: column;
}

.main_title {
  font-size: 5em;
}

.subtitle {
  font-size: 2em;
  text-align: center;
}
