
.my_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: image_url(/assets/rest-example); //url(/assets/rest-example.png);
  padding: 7em;
}

.header_text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
