
.my_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: image_url('rest-example.jpg');
  padding: 7em;
}

.header_text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
