// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.restaurant {
  border-width: medium;
  border: 5px solid;
  background-color: white;
  border-color: $primary-color;
}

.tenbis_img {
  background: asset_url("tenbis_img.jpg") no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  margin: auto;
}
